/* .sidenavContainer{
 display: flex;
 height: 100%;
 align-items: center;
 justify-content: center;
 background: rgba(37, 67, 201, 0.137);

}
.sidenav{
    padding:20px;
    background: rgb(43, 218, 51);

} */
.example-container {
    position: absolute;
    top:70px;
    bottom: 50px;
    left: 0;
    right: 0;
    background: rgba(87, 85, 85, 0.151);
  }


.sidenav{
    background: rgba(3, 67, 241, 0.5);
     top:0;
     bottom:0;
     width: 200px;
    
}
.sidenavHeader{
      background: rgb(192, 170, 170);
      top:0;
      height:62px ;


}
.links{
 display: flex;
 flex-direction: column;
 justify-content: center;
 


}
.link1,.link2{
    text-align: center;


}
