<mat-card>
    <form [formGroup]="personal">
      <div>
      <mat-form-field>
          <input matInput class="form-control" matInput [matDatepicker]="picker" formControlName="DOB" placeholder="Date Of Birth" required>
          <mat-datepicker-toggle formControlName="DOB" matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker required></mat-datepicker>
      
      </mat-form-field>
      <div *ngIf="personal.controls['DOB'].touched && !personal.controls['DOB'].valid">
          <span *ngIf="personal.controls['DOB'].hasError('required')">
              Date Of Birth is required
            </span>
      </div>
    </div>
    <div>
    <mat-form-field>
    
    <mat-select class="form-control" placeholder="Gender" formControlName="gender" required>
            <mat-option>--None--</mat-option>
            <mat-option [value]="Male">Male</mat-option>
            <mat-option [value]="Female">Female</mat-option>
            <mat-option [value]="others">Others</mat-option>
  </mat-select>
       
      </mat-form-field>
      <div *ngIf="personal.controls['gender'].touched && !personal.controls['gender'].valid">
          <span *ngIf="personal.controls['gender'].hasError('required')">
            Last name is required
          </span>
          </div>
    </div>
    <div>
    <mat-form-field>
        <input matInput class="form-control" formControlName="contact" required placeholder="Contact Number">

    </mat-form-field>
    <div *ngIf="personal.controls['contact'].touched && !personal.controls['contact'].valid">
        <span *ngIf="personal.controls['contact'].hasError('required')  ">
    
          email is required
        </span>
        
        </div>
    </div>
    
    </form>
    </mat-card>
    