  <mat-card>
    <form [formGroup]="passwordInfo">
      <div>
      <mat-form-field>
        <input matInput class="form-control"  formControlName="password" placeholder="password" required>
      
      </mat-form-field>
      <div *ngIf="passwordInfo.controls['password'].touched && !passwordInfo.controls['password'].valid">
          <span *ngIf="passwordInfo.controls['password'].hasError('required')">
             Password is required
             
            </span>
      </div>
    </div>
    <div>
    <mat-form-field>
    
        <input matInput class="form-control"  formControlName="confirmPassword" placeholder="Confirm Password" required>
       
      </mat-form-field>
      <div *ngIf="passwordInfo.controls['confirmPassword'].touched && !passwordInfo.controls['confirmPassword'].valid">
          <span *ngIf="passwordInfo.controls['confirmPassword'].hasError('required')">
            Password is required
          </span>

          </div>
          <div *ngIf="!(confirmPassword == password)"  class="help-block">
            Confirm Password dosn't match
        </div>
    </div>
    
    
    </form>
  </mat-card>
    