
<mat-card>
  <mat-card-title>
      <h2>Register</h2>
  </mat-card-title>

<form class="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate >
<div>
  <mat-form-field class="submitForm">
    <label>First Name</label>
    <input matInput  class="form-control" [(ngModel)]="model.first" #first="ngModel" required>
  </mat-form-field>

</div>

<div>
  <mat-form-field class="submitForm">
    <label>Last Name</label>
    <input  matInput  class="form-control"[(ngModel)]="model.last" #last="ngModel" required>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="submitForm">
    <label>Email</label>
    <input matInput type="email" matInput  class="form-control" [(ngModel)]="model.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
  </mat-form-field>
  <div *ngIf="f.submitted && !email.valid" class="help-block">
      Email is required
    </div>

</div>
  <mat-form-field>
    <label>D O B</label>
    
    <input matInput [matDatepicker]="picker" [(ngModel)]=model.date >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    
    <mat-datepicker #picker required></mat-datepicker>
  </mat-form-field>

<div>
  <mat-form-field class="submitForm">
    <label>Contact Number</label>
    <input matInput class="form-control" [(ngModel)]="model.contact" required minlength="10">
  </mat-form-field>
</div>


<div>
  <mat-form-field class="submitForm">
    <label>Gender</label>
    <mat-select [(ngModel)]="model.Gender" required>
      <mat-option>--None--</mat-option>
     <mat-option [value]="Male">Male</mat-option>
      <mat-option [value]="Female">Female</mat-option>
      <mat-option [value]="others">Others</mat-option>
    </mat-select>
  </mat-form-field>
  
</div>
<div>
  <mat-form-field class="submitForm">
    <label>Password</label>
    <input type="password"  class="form-control">
  </mat-form-field>
</div>
<div *ngIf="f.submitted && !password.valid" class="help-block">
    Password is required
  </div>
<div>
  <mat-form-field class="submitForm">
    <label>Confirm Password</label>
    <input type="password"required>
  </mat-form-field>
</div>
<div *ngIf="f.submitted && !password.valid" class="help-block">
    Password is required
  </div>
</form>
</mat-card>